pkgbase = sonicthehedgehog
	pkgdesc = Sonic the Hedgehog game powered by the rsdkv4 engine.
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/Nukley/sonicthehedgehog
	arch = x86_64
	arch = aarch64
	arch = i686
	license = GPL
	makedepends = unzip
	depends = rsdkv4-git
	depends = libogg
	depends = libvorbis
	depends = wget
	depends = sdl2
	depends = unzip
	depends = yad
	source = https://github.com/Nukley/sonicthehedgehog/releases/download/1.0.3/sonicthehedgehog-1.0.3.tar
	sha256sums = abc88a5088bf31326775bcada8d676386777da82f4d9cc39cf5ef77f95a1284a

pkgname = sonicthehedgehog
